RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to router.php
RewriteRule ^(.*)$ router.php [QSA,L]


<IfModule mod_headers.c>
    <FilesMatch "\.(ico|css|js|gif|jpg|jpeg|png|svg|woff2?|ttf|eot)$">
        Header set Cache-Control "public, max-age=600, must-revalidate"
    </FilesMatch>
</IfModule>
