<!DOCTYPE html>
<html lang="en">

<head>
    <?php require('view/template/head.php') ?>
</head>

<?php include('inc/html/nav.html'); ?>

<body>
    <h3>Item Manager</h3>
    <form method="GET">
        <input type="text" name="itemCode" id="itemCode" list="itemCodeList" maxlength="255" placeholder="Item Code..."
            required>
        <input type="submit" value="search">
    </form>
    <hr>
    <form method="POST" id="ItemEditorForm">
    <?php if(isset($itemEditorHtml) === true) { ?>
        <input type="submit" value="save">
        <?php 
        foreach($itemEditorHtml as $html) {
            echo $html;
        }
        ?>
    <?php };?>
    </form>

    <p class="error">
        <?= $error;?>
    </p>
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/ItemManager.js"></script>
</body>


</html>