<!DOCTYPE html>
<html lang="en">

<head>
    <?php require('view/template/head.php') ?>
</head>

<?php include('inc/html/nav.html'); ?>

<body>
    <form method="POST" id="RecordInserterForm">
        <input type="submit" />

        <?php require('view/template/Orders/platform.html') ?>

        <span style="float: right;"><button type="button" id="btnAddNew">Add Line</button></span>
        <table id="RecordInserter">
            <thead>
                <tr>
                    <th id="orderNum">Order Number</th>
                    <th id="sku">SKU</th>
                    <th id="date">Date</th>
                    <th id="trackingNum">TrackingNum</th>
                    <th id="status">Status</th>
                    <th id="sellingPrice">Selling Price</th>
                    <th id="shippingFee">Courier</th>
                    <th id="shippingFeeByCust">Courier By Customer</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="text" name="r[0][orderNum]" maxlength="20"></td>
                    <td><input type="text" name="r[0][sku]" maxlength="60"></td>
                    <td><input type="date" name="r[0][date]"></td>
                    <td><input type="text" name="r[0][trackingNum]" maxlength="20"></td>
                    <td><input type="text" name="r[0][status]" value="READY_TO_SHIP" readonly></td>
                    <td><input type="number" name="r[0][sellingPrice]" min="0" max="10000" step="0.01"></td>
                    <td><input type="number" name="r[0][shippingFee]" min="0" max="10000" step="0.01"></td>
                    <td><input type="number" name="r[0][shippingFeeByCust]" min="0" max="10000" step="0.01"></td>
                </tr>
            </tbody>

        </table>

        <div class="error">
            <?php echo $error->getMessage();?>
        </div>
    </form>
</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/RecordInserter.js"></script>

<?php if(!empty($msg)){echo "<script>alert('$msg')</script>";} ?>

</html>