<!DOCTYPE html>
<html lang="en">

<head>
    <?php require('view/template/head.php') ?>
</head>

<?php include('inc/html/nav.html'); ?>
<H1>TikTok</H1>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="itemlistForm">Select TikTok order .csv file to submit<br></label>
        <input type="file" name="orderFile" accept=".csv" 
        oninput="this.form.submit();this.disabled=true" required>
        
    </form>
    <hr>
    <div class="error">
        <?= $msg;?>
    </div>
    <?php if($Data['orders'] !== ''){ ?>
        <div id="restock" class="paper">
            <i>to Restock:</i>
            <hr>
            <?= $Data['toRestock']?>
        </div>
        <div id="itemList" class="paper">
            <i>to Collect:</i>
            <button onclick="printPaper()" class="button">Print</button>
            <hr>
            <?= $Data['toCollect']?>
        </div>
        <div id="notfound" class="paper error">
            <i>not found:</i>
            <hr>
            <?= $Data['notFound']?>
        </div>

        <hr>

        <div id="orders" class="paper">
            <i>tiktok orders</i>
            <hr>
            <?= $Data['orders']?>
        </div>
    <?php };?>
    
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- to print item to collect-->
    <script src="js/function"></script>


<div id="jsonOrders" style="display:none;">
    <?= $jsonOrders ?>
</div>
<script>
    const app = window.app || {};
    app.orders = {};
    app.orders.dailyOrderFile_Sha1Hash = '<?= $dailyOrderFile_Sha1Hash ?>';
    app.orders.data = JSON.parse(document.getElementById('jsonOrders').innerText.trim() || 'null');

    app.seller_platform = 'TikTok';
</script>

<script src="js/daily-orders-to-gtag-ga4.js"></script>
<script>
    if (app.orders.data) {
        sendOrdersTo_GA4(
            app.orders.data,
            app.orders.dailyOrderFile_Sha1Hash,
            app.seller_platform,
            'MYR'
        );
    }
</script>

</body>
</html>